{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>SUVs</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for suv in suvs %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{suv.imagenInstrumento.url}}" class="" width="100px">
                {{suv.titulo}}
                <a href="{% url 'suv' suv.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == suv.usuario.id %}
                <a href="{% url 'suv_editar' suv.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'suv_eliminar' suv.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}