{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{moto.titulo}}</h4></p>
{% if moto.imagenInstrumento %}
    <p><img src="{{moto.imagenInstrumento.url}}" alt=""></p>
{% endif %}
<p>Marca: {{moto.marca}}</p>
<p>Modelo: {{moto.modelo}}</p>
<p>Descripción: {{moto.descripcion}}</p>
<p>Año: {{moto.year}}</p>
<p>Precio(US$): {{moto.precio}}</p>
<p>Teléfono de Contacto: {{moto.telefonoContacto}}</p>
<p>Email de Contacto: {{moto.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not moto.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in moto.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' moto.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}